body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.container-fluid {
    padding: 0;
}

.sign-in-form-container {
    padding: 80px;
    text-align: center;
}

.error-message {
    margin: 15px auto;
}

.form-group {
    width: 300px;
    margin: 30px auto;
    text-align: left;
}

.logo-container {
    text-align: center;
}

.logo {
    width: auto;
    height: 100px;
}