<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/angular-gridster/dist/angular-gridster.min.css" rel="stylesheet">

    <link href="app/app.css" rel="stylesheet">

    <link href="ext-modules/yingFramework/yingFramework.css" rel="stylesheet">
    <link href="ext-modules/yingMenu/yingMenu.css" rel="stylesheet">
    <link href="ext-modules/yingDashboard/yingDashboard.css" rel="stylesheet">

    <!-- widget css -->
    <link href="app/widgets/wwaEmployee/wwaEmployee.css" rel="stylesheet">
    <link href="app/widgets/wwaInventory/wwaInventory.css" rel="stylesheet">
    <link href="app/widgets/wwaTemperature/wwaTemperature.css" rel="stylesheet">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-gridster/dist/angular-gridster.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>


    <script src="ext-modules/yingMenu/yingMenuModule.js"></script>
    <script src="ext-modules/yingMenu/yingMenuDirective.js"></script>
    <script src="ext-modules/yingMenu/yingMenuController.js"></script>
    <script src="ext-modules/yingMenu/yingMenuItemDirective.js"></script>
    <script src="ext-modules/yingMenu/yingMenuGroupDirective.js"></script>

    <script src="ext-modules/yingDashboard/yingDashboardModule.js"></script>
    <script src="ext-modules/yingDashboard/yingDashboardDirective.js"></script>
    <script src="ext-modules/yingDashboard/yingWidgetBodyDirective.js"></script>

    <script src="ext-modules/yingFramework/yingFrameworkModule.js"></script>
    <script src="ext-modules/yingFramework/yingFrameworkDirective.js"></script>
    <script src="ext-modules/yingFramework/yingFrameworkController.js"></script>
    <script src="ext-modules/yingFramework/yingUserProfile/yingUserProfileSmallDirective.js"></script>

    <script src="app/appModule.js"></script>
    <script src="app/appConfig.js"></script>
    <script src="app/appRouteConfig.js"></script>
    <script src="app/appController.js"></script>
    <script src="app/services/dataService.js"></script>

    <script src="app/directives/wwaDashboardDirective.js"></script>
    <script src="app/directives/wwaGuidesDirective.js"></script>
    <script src="app/directives/wwaLocationsDirective.js"></script>

    <!-- widget javascript files-->
    <script src="app/widgets/wwaInventory/wwaInventoryDirective.js"></script>
    <script src="app/widgets/wwaEmployee/wwaEmployeeDirective.js"></script>
    <script src="app/widgets/wwaTemperature/wwaTemperatureDirective.js"></script>

    <!-- settings dialogs -->
    <script src="app/dialogs/wwaSelectEmployeeController.js"></script>
    <script src="app/dialogs/wwaSelectLocationController.js"></script>

</head>
<body class="container-fluid" ng-controller="appController">

<div ng-switch="state">
    <div ng-switch-when="unauthorized" class="sign-in-form-container">
        <form>
            <div class="logo-container">
                <img src="/assets/logo.png" class="logo"/>
            </div>

            <div class="alert alert-danger error-message" role="alert" ng-show="errorMessage">
                <strong>Oh snap!</strong>
                <br>{{errorMessage}}
            </div>

            <div class="form-group">
                <label>User</label>
                <input type="text" class="form-control" ng-model="user.username"/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="user.password"/>
            </div>
        </form>
        <button class="btn btn-default sign-in-btn" ng-click="signIn()">Sign In</button>
    </div>

    <div ng-switch-default>
        <ying-framework icon-file="/assets/logo.png">

            <ying-menu>
                <ying-menu-item label="Dashboard" icon="fa-dashboard" route="dashboard"></ying-menu-item>
                <ying-menu-item label="Locations" icon="fa-location-arrow" route="locations"></ying-menu-item>
                <ying-menu-item label="Raft Guides" icon="fa-user" route="guides"></ying-menu-item>

                <ying-menu-group label="Equipment" icon="fa-gears">
                    <ying-menu-item label="Rafts" icon="fa-unlink" route="rafts"></ying-menu-item>
                    <ying-menu-item label="Paddles" icon="fa-magic" route="paddles"></ying-menu-item>
                    <ying-menu-item label="Life Vests" icon="fa-life-ring" route="vests"></ying-menu-item>
                </ying-menu-group>
            </ying-menu>

        </ying-framework>
    </div>
</div>
</body>
</html>