<div>
    <ul class="ying-menu" ng-transclude></ul>
    <a class="btn ying-menu-layout-button"
       ng-show="allowHorizontalToggle"
       ng-class="{'ying-layout-button-horizontal': !isVertical}"
       ng-click="toggleMenuOrientation()">
        <i class="fa" ng-class="{'fa-chevron-up': isVertical, 'fa-chevron-left': !isVertical}"> </i>
    </a>
</div>