.wwa-temperature-widget {
    height: 100%;
    width: 100%;
    min-height: 180px;
    font-size: 16px;
    color: black;
}

.wwa-temperature-heading {
    background-color: red;
    color: white;
    height: 32px;
    padding-top: 2px;
    font-size: 15px;
    line-height: 32px;
}

.wwa-temperature-icon {
    height: 24px;
    width: 24px;
    margin-top: -2px;
}

.wwa-temperature-body {
    position: relative;
    text-align: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 180px;
}

.wwa-temperature-body .fa-spin {
    position: absolute;
    left: 10px;
    top: 10px;
}

.wwa-temperature-view {
    background-color: rgba(255, 255, 255, .7);
    position: absolute;
    right: 5px;
    bottom: 38px;
    padding: 10px;
    border: 1px solid black;
}

.wwa-temperature-river-name {
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
}

.wwa-temperature-degrees {
    font-size: 64px;
    margin-top: -20px;
}